colorama==0.4.6
numpy==1.25.0
opencv-python==4.7.0.72
Pillow==10.0.1
pip==23.1.2
pypng==0.20220715.0
pyzbar==0.1.9
qrcode==7.4.2
setuptools==60.2.0
typing-extensions==4.6.3
wheel==0.37.1
requests==2.31.0
pyinstaller==5.12.0
